.dropdownDefaultButton{
    background-color: #FF9D03 !important;  
  }
  .dropDownSelected{
      border: 1px solid #FF9D03;
      border-radius: 10px;
  }
  @media (max-width : 640px) {
    .dropdown_editecontent{
        padding-left: 2rem;
    }
  }